/*
font-family: 'Alegreya', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
*/


body {
    font-family: "Hind Vadodara", sans-serif;
    color: rgb(190, 188, 188);
    /* gradient background */
    background-image: linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,.7)),linear-gradient(to left bottom, #8aa9ec, #7aa6e8, #68a4e4, #54a1df, #3d9eda, #2e91d0, #1c84c5, #0077bb, #005ca6, #004290, #0c2777, #16095c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.flvl1 {
    font-family: "Alegreya", serif;
    font-style: italic;
}

.flvl2 {
    font-family: "Fira Sans", sans-serif;
    font-style: medium;
}

.flvl3, body {
    font-family: "Hind Vadodara", sans-serif;
    font-style: normal;
}

.center {
    text-align: center;
}

video {
    border: none;
}

#ad-one-div{
    width: 100%;
    margin-right: -1em;
    margin-left: -1em;
    background-color: silver;
}

#ad-one{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#title-block {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0) );
    padding: .1em;
    /* extend sides beyond edge of page */
    margin-left: -1em;
    margin-right: -1em;
}

#main-title {
    color: white;
    font-size: 5em;
    font-weight: medium;
    margin-bottom: 0em;
    padding-bottom: 0em;
    margin-top: .1em;
    font-style: italic;
}

#sub-title {
    color: rgb(187, 187, 187);
    font-size: 1.6em;
    font-weight:100;
    margin-bottom: 1em;
    margin-top: -.2em;
    padding-top: 0em;
    font-style: italic;
}

#logo {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1em;
    width: 4em;
    margin-bottom: .1em;
    margin-left: .1em;
}
