/*
font-family: 'Alegreya', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
*/

/* queries */

/* phone */
@media(max-width: 719px) {
    #logo-title{
        /* disappear */
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        z-index: -11;
        width: 0px;
    }
    #title-block {
        font-size: 2vw;
    }
    #sub-title {
        /* dissapear */
        position: absolute;
        opacity: 0;
        z-index: -11;
        width: 0px;
    }
}



/* variables */
:root {
    /*null*/
    --add-one-fade-height: 40px;
}

body {
    font-family: "Hind Vadodara", sans-serif;
    color: rgb(190, 188, 188);
    animation: bg-animation 50s infinite;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), linear-gradient(to bottom, rgb(255, 255, 255), silver);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

/* fonts */
.flvl1 {
    font-family: "Alegreya", serif;
    font-style: italic;
}

.flvl2 {
    font-family: "Fira Sans", sans-serif;
    font-style: medium;
}

.flvl3, body {
    font-family: "Hind Vadodara", sans-serif;
    font-style: normal;
}

.navbar {
    margin-top: 0em;
    margin-bottom: 0em;
    height: auto;
    background: black;
    padding: .2em;
    border-top: 3px double goldenrod;
    border-bottom: 3px double goldenrod;
}

.navbar ul{
    display: flex;
    height: auto;
    padding: .2em;
    margin-left: .2em;
    margin-right: .2em;
    justify-content: space-around;
    align-items: center;
    margin-top: .1em;
    margin-bottom: .1em;
}

.navbar-item {
    list-style: none;
    text-decoration: none;
    
}

.navbar-item a{
    font-size: auto;
    text-decoration: none;
    color: white;
    font-weight: medium;
    transition: 0.4s ease-in-out;
}

.navbar-item a:hover{
    color:rgb(66, 54, 0);
}

.btn{
    width: 100px;
    height: 40px;
    background: black;
    border: 2px solid black;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.full-width {
    width: 102%;
    margin-left: -1%;
    margin-right: -1%;
    overflow: hidden;
}

.center {
    text-align: center;
}

video {
    border: none;
}

#header {
    margin-top: -1em;
    margin-bottom: .1em;
    border: 2px solid black;
    padding-bottom: 0px;
}

#footer {
    margin-top: 2em;
    width: 100%;
    margin-bottom: .1em;
    margin-left: .1em;
    color: rgb(85, 83, 67);
}

#ad-one-div {
    align-items: center;
    background-color: black;
    padding: 0em;
    max-height: 80vh;
    min-height: 300px;
}

#ad-one-fade-in, #ad-one-fade-out {
    height: 19px;
}

#ad-one-fade-in {
    margin-top: var(--ad-one-fade-height);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#ad-one-fade-out {
    margin-bottom: var(--ad-one-fade-height);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#ad-one {
    width: 98%;
    min-height: inherit;
    max-height: inherit;
    margin-left: 1%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0px;
}


#title-block {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: .1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#logo-title {
    height: 8em;
    image-rendering:optimizeQuality;
}

#main-title {
    color: rgb(245, 245, 245);
    font-size: 5em;
    font-weight: medium;
    margin-bottom: .3em;
    padding-bottom: 0em;
    margin-top: .1em;
    font-style: italic;
    line-height: .9em;

}

#sub-title {
    color: rgb(187, 187, 187);
    font-size: 1.6em;
    font-weight: 100;
    margin-bottom: 1em;
    margin-top: -.2em;
    padding-top: 0em;
    font-style: italic;
}